.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.arrow {
  margin-top: -5.5%;
  margin-left: 75%;
}
.rotate {
  transform: rotateX(180deg);
}

.dropdown .arrowopen {
  border-color: transparent transparent black;
  border-width: 0 5px 5px;
}

.dropdown .selected input {
  line-height: 1.88;
  font-size: x-large;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.optionsopen {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  overflow-y: auto;
  position: absolute;
  width: 80%;
  margin-left: 10%;
  -webkit-overflow-scrolling: touch;
  height: 300px;
  z-index: 1000;
  text-align: left;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}
