get:
  operationId: listReassignmentConfigurations
  tags:
    - Work Reassignment
  summary: List reassignment configurations
  description: Gets all Reassignment configuration for the current org.
  security:
    - userAuth:
        - idn:reassignment-configuration:read
        - idn:reassignment-configuration:manage
  x-sailpoint-userLevels:
    - ORG_ADMIN
  parameters:
    - in: query
      name: limit
      description: Max number of results to return.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 20
        default: 20
      example: 20
    - in: query
      name: offset
      description: Offset into the full result set. Usually specified with *limit* to paginate through the results. Defaults to 0 if not specified.
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
      example: 10
  responses:
    '200':
      description: A list of Reassignment Configurations for an org
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: ../schemas/work-reassignment/ConfigurationResponse.yaml
    '400':
      $ref: ../../v3/responses/400.yaml
    '401':
      $ref: ../../v3/responses/401.yaml
    '403':
      $ref: ../../v3/responses/403.yaml
    '404':
      $ref: ../../v3/responses/404.yaml
    '429':
      $ref: ../../v3/responses/429.yaml
    '500':
      $ref: ../../v3/responses/500.yaml
post:
  operationId: createReassignmentConfiguration
  tags:
    - Work Reassignment
  summary: Create a reassignment configuration
  description: Creates a new Reassignment Configuration for the specified identity.
  security:
    - userAuth:
        - idn:reassignment-configuration:manage
  x-sailpoint-userLevels:
    - ORG_ADMIN
  requestBody:
    required: true
    content:
      application/json:
        schema:
          $ref: ../schemas/work-reassignment/ConfigurationItemRequest.yaml
  responses:
    '201':
      description: The newly created Reassignment Configuration object
      content:
        application/json:
          schema:
            $ref: ../schemas/work-reassignment/ConfigurationItemResponse.yaml
    '400':
      $ref: ../../v3/responses/400.yaml
    '401':
      $ref: ../../v3/responses/401.yaml
    '403':
      $ref: ../../v3/responses/403.yaml
    '429':
      $ref: ../../v3/responses/429.yaml
    '500':
      $ref: ../../v3/responses/500.yaml
