get:
  operationId: getSourceConfig
  tags:
    - Sources
  summary: Gets source config with language translations
  description: >-
    Looks up and returns the source config for the requested source id after populating the source config values and applying language translations.

    A token with ORG_ADMIN authority is required to call this API.
  parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: The Source id
    - in: query
      name: locale
      schema:
        type: string
        enum: [de, no, fi, sv, ru, pt, ko, zh-TW, en, it, fr, zh-CN, hu, es, cs, ja, pl, da, nl]
      description: >-
        The locale to apply to the config. If no viable locale is given, it will default to "en"
  responses:
    '200':
      description: A Connector Detail object
      content:
        application/json:
          schema:
            $ref: '../schemas/ConnectorDetail.yaml'
    '401':
      $ref: '../../v3/responses/401.yaml'
    '403':
      $ref: '../../v3/responses/403.yaml'
    '404':
      $ref: '../../v3/responses/404.yaml'
    '429':
      $ref: '../../v3/responses/429.yaml'
    '500':
      $ref: '../../v3/responses/500.yaml'
