.textArea {
  font-family: poppins;
  padding: 5px;
  padding-right: 20px;
  width: 100%;
  border: 0 solid #ccc;
  border-radius: 4px;
  min-height: 40px;
  max-height: 300px;
  resize: none;
}

.buttonContainer {
  place-content: center;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.submitButton {
  height: 40px;
}

.resetButton {
  height: 40px;
}

.inputContainer {
  postition: relative;
}

.outterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 98vw;
}
