
/* Actual stage containers */
.stageContainer {
    display: grid;
    margin-left: 20px;
    margin-bottom: 50px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-content: center;
    margin-right: 20px;
}

.stageContent {
    position:relative;
    margin-top: 20px;
    width: -webkit-fill-available;
    position: relative;
    padding-bottom: 56.25%;
}

.video {
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
}