/* Getting Started Card container */
.featuredGridContainer {
  display: flex;
  margin-left: 9%;
  min-height: 600px;
}

.gridContainer {
  display: flex;
  /* place-content: center; */
  flex-wrap: wrap;
  gap: 23px;
  margin-left: 20px;
  justify-content: left;
  min-height: 600px;
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 60%;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.featuredSpinnerCenter {
  width: 50%;
  margin: auto;
  margin-top: 45%;
}

.spinnerCenter {
  position: absolute;
  left: 48%;
  top: 1025px;
}

@media only screen and (max-width: 2008px) {
  .center {
    width: 65%;
  }
}

@media only screen and (max-width: 1847px) {
  .center {
    width: 75%;
  }
}

@media only screen and (max-width: 1602px) {
  .center {
    width: 78%;
  }
}

@media only screen and (max-width: 1536px) {
  .center {
    width: 62%;
  }
}

@media only screen and (max-width: 1454px) {
  .center {
    width: 67%;
  }
}

@media only screen and (max-width: 1345px) {
  .center {
    width: 75%;
  }
}

@media only screen and (max-width: 1256px) {
  .center {
    width: 81%;
  }
}

@media only screen and (max-width: 1165px) {
  .center {
    width: 85%;
  }
}

@media only screen and (max-width: 1111px) {
  .center {
    width: 87%;
  }
}

@media only screen and (max-width: 1085px) {
  .center {
    width: 96%;
  }
}

@media only screen and (max-width: 945px) {
  .center {
    width: 77%;
  }
}

@media only screen and (max-width: 787px) {
  .center {
    width: 87%;
  }
}

@media only screen and (max-width: 698px) {
  .center {
    width: 99%;
  }
}

@media only screen and (max-width: 615px) {
  .center {
    width: 54%;
  }
}

@media only screen and (max-width: 550px) {
  .featuredGridContainer {
    margin-left: 5%;
    margin-right: 5%;
  }

  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  

  .spinnerCenter {
    left: 43%;
    top: 1225px;
  }

  .featuredSpinnerCenter {
    width: 20%;
    margin: auto;
    margin-top: 35%;
  }

  .center {
    width: 60%;
  }

  .noFound {
    width: 350px;
    position: absolute;
    left: 10px;
  }
}
