/* Getting Started Card container */
.featuredGridContainer {
  display: flex;
  /* place-content: center; */
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  min-height: 500px;
}

.gridContainer {
  display: flex;
  /* place-content: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 23px;
  width: 1500px;
  min-height: 600px;
}
.gridContainer::after {
  content: '';
  flex: auto;
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 55%;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.featuredSpinnerCenter {
  width: 50%;
  margin: auto;
  margin-top: 45%;
}

.spinnerCenter {
  position: absolute;
  left: 48%;
  top: 925px;
}

@media only screen and (max-width: 2150px) {
  .gridContainer {
    width: 1200px;
  }


}

@media only screen and (max-width: 1400px) {
  .gridContainer {
    width: 900px;
  }
}

@media only screen and (max-width: 1000px) {
  .gridContainer {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .gridContainer {
    width: 300px;
  }

  .spinnerCenter {
    left: 45%;
  }

  .center {
    width: 39%;
  }
}

@media only screen and (max-width: 550px) {
  .gridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    margin-left: 0px;
    margin-top: -5%;
  }

  .spinnerCenter {
    left: 43%;
  }

  .featuredSpinnerCenter {
    width: 20%;
    margin: auto;
    margin-top: 35%;
  }

  .center {
    width: 60%;
  }

  .noFound {
    width: 350px;
    position: absolute;
    left: 10px;
  }
}
