/* Getting Started Card container */
.gridContainer {
  display: flex;
  /* place-content: center; */
  flex-wrap: wrap;
  gap: 23px;
}
.gridContainer::after {
  content: '';
  flex: auto;
}

@media only screen and (max-width: 870px) {
  .gridContainer {
    place-content: center;
  }
  .gridContainer::after {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .gridContainer {
    display: flex;

    flex-wrap: wrap;
    gap: 0px;
    margin-left: 0px;
    margin-top: -5%;
  }
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 50%;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.spinnerCenter {
  margin: 100px auto;
  max-width: 1300px;
  margin-bottom: 50px;
}
