.editor {
  height: 500px;
}

.formFloating {
  display: flex;
  justify-content: center;
}

.containerFluid {
  margin: 20px;
}

.jsonpathQueryInput {
  width: 50%;
  height: 2em;
  font-size: x-large;
}

.expandExpressions {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.expandExpressionsButton {
  height: 35px;
}

.expressionsTable {
  display: flex;
  justify-content: center;
}

styles.fontSizeDropdown {
  font-size: large;
}
