.formFloating {
  display: flex;
  justify-content: center;
}

.containerFluid {
  margin: 20px;
}

.jsonpathQueryInput {
  width: 50%;
  height: 2em;
  font-size: x-large;
}

.expandExpressions {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.expandExpressionsButton {
  height: 35px;
}

.expressionsTable {
  display: flex;
  justify-content: center;
}

styles.fontSizeDropdown {
  font-size: large;
}

.tableContainer {
  width: 50%;
  margin: auto;
}

.InputTerminal {
  padding: 5%;
}
