/* Getting Started Card */
.link {
  max-width: 420px;
}

.link:hover {
  text-decoration: none;
}

.card {
  position: relative;
  margin-top: 20px;
  width: 365px;
  min-height: 545px;

  /* UI Properties */
  opacity: 1;
  transition: all 0.3s;
  background: var(--dev-new-car-background);
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid var(--dev-card-border);
}

.card:hover {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: var(--dev-card-selected);
}

.cardFaceContainer {
  display: flex;
  margin: 30px;
}

.cardFace {
  border-radius: 99px;
  justify-content: center;
  display: flex;
  height: 80px;
  width: 80px;
}

.cardNameContainer {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  top: 124px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.titleText {
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  letter-spacing: 2px;
  top: 150px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.location {
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 2px;
  top: 141px;
  left: 0;
  color: var(--ifm-color-primary);
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 5px;
  right: 0;
  width: 20px;
}

.bio {
  margin: 30px auto;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  color: var(--ifm-color-primary);
  padding: 0px 30px;
  margin-bottom: 50px;
}

.cardData {
  position: absolute;
  bottom: 50px;
  left: 20px;
  display: flex;
  align-items: center;
}

.cardEye {
  fill: #96a9bb;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(79%) sepia(12%) saturate(484%) hue-rotate(168deg)
    brightness(84%) contrast(84%);
  margin-left: 5px;
  height: 18px;
  width: 18px;
}

.cardCommentText {
  color: #96a9ba;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  margin-left: 5px;
  margin-bottom: 5px;
  height: 20px;
  font-size: 16px;
}

.cardCommentTextUpper {
  color: #96a9ba;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  margin-left: 10px;
  margin-bottom: 5px;
  height: 20px;
  font-size: 16px;
}

.cardDataLower {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.docCardIcon {
  color: var(--ifm-color-primary);
}
