/* Getting Started Card */

.link:hover {
  text-decoration: none;
}

.card {
  position: relative;
  margin-top: 20px;
  height: 500px;
  max-width: 420px;
  /* UI Properties */
  background: var(--dev-card-background);
  box-shadow: var(--dev-card-shadow);
  border: 1px solid var(--dev-card-background);
  border-radius: 40px;
  opacity: 1;
  transition: all  0.3s;
  opacity: 1;
}

.card:hover {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: var(--dev-card-selected);
}





.cardFaceContainer {
  display: flex;
  margin: 30px;
}

.cardFace {
  border-radius: 9999px;
  justify-content: center;
  display: flex;
  height: 100px;
  width: 100px;
}

.cardNameContainer {
  margin-left: 15px;
  margin-top: 10px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  top: 124px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.titleText {
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  letter-spacing: 2px;
  top: 150px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.location {
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 2px;
  top: 141px;
  left: 0;
  color: var(--ifm-color-primary);
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 5px;
  right: 0;
  width: 20px;
}



.bio {
  position: absolute;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  top: 100px;
  left: 0;
  color: var(--ifm-color-primary);
  padding: 30px;
}


.cardData {
  position: absolute;
  bottom: 50px;
  left: 20px;
  display: flex;
  align-items: center;
}

.cardEye {
  fill: #96a9bb;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(79%) sepia(12%) saturate(484%) hue-rotate(168deg) brightness(84%) contrast(84%);
  margin-left: 5px;
  height: 18px;
  width: 18px;
}

.cardCommentText {
  color: #96a9ba;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  margin-left: 5px;
  margin-bottom: 5px;
  height: 20px;
  font-size: 16px;
}

.cardDataLower {
  position: absolute;
  bottom: 20px;
  left: 22px;
  display: flex;
  align-items: center;
}
