/* Getting Started Card */
.card {
  position: relative;
  margin-top: 20px;
  height: 300px;
  /* max-width: 420px; */
  /* UI Properties */
  background: var(--dev-card-background);
  box-shadow: var(--dev-card-shadow);
  border: 1px solid var(--dev-card-background);
  border-radius: 40px;
  opacity: 1;
}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: var(--dev-card-selected);
}

.cardText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  top: 116px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.titleText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  letter-spacing: 2px;
  top: 150px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.expertiseText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 2px;
  top: 160px;
  left: 0;
  color: var(--ifm-color-primary);
  padding: 30px;
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 5px;
  right: 0;
  width: 20px;
}

.cardFaceContainer {
  width: 100%;
  margin: 40px auto;
}

.cardFace {
  border-radius: 9999px;
  justify-content: center;
  display: flex;
  margin: auto;
  height: 80px;
  width: 80px;
}
