.ambassadorHeaderText {
  position: relative;
  color: #ffffff;
  font-size: 48px;
  max-width: 396px;
  font-weight: bold;
  line-height: 133%;
  top: -84px;
  left: 92px;
}

.background {
  width: 100%;
  object-fit: repeat;
  height: 100%;
}

.imageContainer {
  width: 100%;
  height: 90px;
  background: rgb(0, 51, 161);
  background: linear-gradient(
    90deg,
    rgba(0, 51, 161, 1) 0%,
    rgba(84, 192, 232, 1) 100%
  );
}

.headerImage {
  height: 90px;
}
