/* Getting Started Card */
.card {
  position: relative;
  margin-top: 20px;
  height: 300px;
  width: 220px;
  /* UI Properties */
  opacity: 1;
  transition: all 0.3s;
  background: var(--dev-new-car-background);
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow:
    0 0 transparent,
    0 0 transparent,
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid var(--dev-card-border);
}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: var(--dev-card-selected);
}

.cardText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  top: 116px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.titleText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  width: 100%;
  letter-spacing: 2px;
  top: 150px;
  left: 0;
  color: var(--dev-text-color-normal);
}

.expertiseText {
  position: absolute;
  margin: 22px auto;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  width: 100%;
  letter-spacing: 2px;
  top: 160px;
  left: 0;
  color: var(--ifm-color-primary);
  padding: 30px;
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 5px;
  right: 0;
  width: 20px;
}

.cardFaceContainer {
  width: 100%;
  margin: 40px auto;
}

.cardFace {
  border-radius: 9999px;
  justify-content: center;
  display: flex;
  margin: auto;
  height: 80px;
  width: 80px;
}
