
/* .sidebar {
  width: 400px;
  height: 100%;
  margin-left: 50px;
} */

.sidebar {
  width: 20%;
  margin-left: 5px;
  box-shadow: 0 2px 2px 0, 0 3px 1px -2px, 0 1px 5px 0;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0.5%;
  margin-top: 1%;
  padding-top: 0.5%;
  position: absolute;
}

/* @media only screen and (max-width: 900px) {
  .sidebar {
    width: 97%;
    margin-left: 5px;
    box-shadow: 0 2px 2px 0, 0 3px 1px -2px, 0 1px 5px 0;
    padding-bottom: 0.5%;
    margin-top: 1%;
    padding-top: 0.5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
} */

@media only screen and (max-width: 1625px) {
  .sidebar {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
  }
}

.tagHeader {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}


.hidden {
  display: none;
}

.seeAll {
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--dev-secondary-text);
  border-style: solid;
  border-width: 1px;
  width: 100%;
  transition: background-color 500ms;
  text-align: center;
  
}

.seeAll:hover {
  cursor: pointer;
  background-color: var(--dev-text-color-normal);
  color: var(--dev-card-background);
}
