/* Getting Started Card container */
.featuredGridContainer {
  display: flex;
  /* place-content: center; */
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  min-height: 300px;
}

.gridContainer {
  display: flex;
  /* place-content: center; */
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 20px;
}
.gridContainer::after {
  content: '';
  flex: auto;
}

@media only screen and (max-width: 870px) {
  .gridContainer {
    place-content: center;
  }
  .gridContainer::after {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .gridContainer {
    display: flex;

    flex-wrap: wrap;
    gap: 0px;
    margin-left: 0px;
    margin-top: -5%;
  }
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 65%;
}

.space {
  height: 200px;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: var(--dev-popup-background);
  max-height: 80%;
  max-width: 90%;
  min-height: 80%;
  scroll-behavior: auto;
  overflow-y: auto;
}

.cardExit {
  position: absolute;
  top: 6px;
  right: 6px;
  fill: #96a9bb;
  /* computed from codepen https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(79%) sepia(12%) saturate(484%) hue-rotate(168deg)
    brightness(84%) contrast(84%);
  margin-left: 5px;
  height: 24px;
  width: 24px;
  transition: all 0.2s;
}

.cardExit:hover {
  top: 8px;
  cursor: pointer;
  height: 23px;
  width: 23px;
}

.featuredSpinnerCenter {
  width: 50%;
  margin: auto;
  margin-top: 25%;
}

.spinnerCenter {
  position: absolute;
  left: 50%;
  top: 725px;
}

@media only screen and (max-width: 550px) {
  .center {
    width: 100%;
  }

  .featuredSpinnerCenter {
    width: 35%;
    margin: auto;
    margin-top: 25%;
  }

  .spinnerCenter {
    left: 43%;
  }
}
