/* Getting Started Card */
.card {
  position: relative;
  margin-top: 30px;
  opacity: 1;
  transition: all 0.3s;
  max-width: 300px;
}

.featuredCard {
  position: relative;
  margin-top: 30px;
  opacity: 1;
  transition: all 0.3s;
  width: 400px;
  height: 225px;
}

.card:hover .thumbContainer {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: var(--dev-card-selected);
}

.cardText {
  display: flex;
  flex-direction: column;
  margin: 22px;
  min-width: 170px;
  margin-bottom: 75px;
}

.featuredThumbContainer {
  border: 1px solid var(--dev-card-border);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  position: relative;
  height: 225px;
  width: 400px;
}

.thumbContainer {
  border: 1px solid var(--dev-card-border);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  position: relative;
  height: 144px;
}

.featuredCardImage {
  height: auto;
  max-width: 100%;
  width: 400px;
  height: 225px;
  border-radius: 0.5rem;
}

.cardImage {
  height: auto;
  max-width: 100%;
  width: 256px;
  height: 144px;
  border-radius: 0.5rem;
}

.avatarContainer {
  padding-left: 2rem;
  position: relative;
  width: 2.125rem;
}

.avatar {
  --tw-border-opacity: 1;
  --w: 2.125rem;
  border-color: #f1f1e7;
  border-color: rgb(241 241 231 / var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 2px;
  left: 0;
  max-width: 2.125rem;
  max-width: var(--w);
  min-width: 2.125rem;
  min-width: var(--w);
  position: absolute;
  width: var(--w);
  z-index: 10;
}

.featuredTitleContainer {
  height: 50px;
}

.titleContainer {
  height: 50px;
}

.featuredCardTitle {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-right: 0.5rem;
  text-align: left;
}

.cardTitle {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-right: 0.5rem;
  text-align: left;
}

.cardBody {
  font-size: 16px;
  font-weight: 500;
  left: 0;
  margin-top: 5px;
  padding: 10px;
}

.tag {
  font-size: 10px;
  font-weight: 300;
  color: var(--dev-secondary-text);
  background-color: var(--dev-tag-highlight);
  padding: 0px 8px;
  margin-right: 5px;
  margin-top: 5px;
}

.tags {
  margin: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 5px;
}

@media only screen and (max-width: 550px) {
  .featuredThumbContainer {
    width: 350px;
    height: 197px;
  }
  .cardText {
    margin-bottom: 0px;
  }

  .tags {
    margin-top: 2px;
  }
}
