.categoryLink {
  overflow: hidden;
}

/*
TODO merge this logic back in Infima?
 */
:global(.menu__link--sublist-caret)::after {
  margin-left: var(--ifm-menu-link-padding-vertical);
}

.categoryLinkLabel {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
