.stageContentVideo {
  flex-grow: 1;
  aspect-ratio: 16/9;
  border-radius: 7px;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  /* Actual stage containers */
  .stageContainer {
    /* margin-top: 1em; */
    padding: 0.5%;
    gap: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .stageContentChat {
    min-height: 720px;
    flex-grow: 1;
  }

  .stageContentChat > iframe {
    min-height: 720px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1000px) {
  /* Actual stage containers */
  .stageContainer {
    padding: 0.5%;
    gap: 0.5%;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .stageContentChat {
    min-width: 30%;
  }
}
