/* Getting Started Card container */
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 1620px;
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 1620px;
}

.space {
  height: 200px;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.spinnerCenter {
  margin: auto;
  width: 4%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1950px) {
  .gridContainer {
    width: 1215px;
  }

  .center {
    width: 1215px;
  }
}

@media only screen and (max-width: 1315px) {
  .gridContainer {
    width: 810px;
  }

  .center {
    width: 810px;
  }
}

@media only screen and (max-width: 910px) {
  .gridContainer {
    width: 365px;
  }

  .center {
    width: 365px;
  }
}
