/* Getting Started Card container */
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 1800px;
}

.center {
  margin: 0px auto;
  margin-bottom: 50px;
  width: 70%;
}

.space {
  height: 200px;
}

.noFound {
  font-size: 28px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin: 50px;
}

.spinnerCenter {
  margin: auto;
  width: 4%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 2100px) {
  .gridContainer {
    width: 1500px;
  }

  .spinnerCenter {
    width: 5%;
  }
}

@media only screen and (max-width: 1500px) {
  .gridContainer {
    width: 1200px;
  }

  .spinnerCenter {
    width: 6%;
  }
}

@media only screen and (max-width: 1000px) {
  .gridContainer {
    width: 600px;
  }

  .center {
    width: 50%;
  }

  .spinnerCenter {
    width: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .center {
    width: 77%;
  }
  .spinnerCenter {
    width: 15%;
  }
}

@media only screen and (max-width: 550px) {
  .center {
    width: 93%;
  }

  .spinnerCenter {
    width: 20%;
  }
}
