.gridContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.center {
  margin: auto;
  max-width: 1100px;
  padding-bottom: 5%;
  width: calc(100% - 40px);
}

@media only screen and (max-width: 1150px) {
  .center {
    max-width: 820px;
  }
}

@media only screen and (max-width: 920px) {
  .center {
    max-width: 560px;
  }
}

@media only screen and (max-width: 660px) {
  .center {
    max-width: 220px;
  }
}
