/* Getting Started Card container */
.bottomGridContainer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-gap: 30px;
  margin-right: 170px;
  margin-left: 190px;
}

.gridContainer {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  grid-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.center {
  margin: 0px auto;
  max-width: 1300px;
  margin-bottom: 50px;
}
