.gridContainer {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  grid-gap: 40px;
}

.center {
  max-width: 1100px;
  margin: auto;
  width: 50%;
  padding-bottom: 5%;
}

@media only screen and (max-width: 2150px) {
  .center {
    width: 53%;
  }
}
