
.gridContainer {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .center {
    margin: 50px auto;
    max-width: 1000px;
  }

  .headerText {
    text-align: center;
    display: flex;
    margin: 150px auto 0px auto;
    width: calc(100% - 100px);
    justify-content: center;
  }

  .headerTextOne {
    color: var(--ifm-color-primary);
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
  }
  

  


  .spanLeft {
    width: 35%;
    margin: 14px;
    position: relative;
    top: -45px;
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:var(--ifm-color-primary);
  }



  .imageContainer {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .ambassadorImage {
    margin-left: 5px;
    height: 120px;
    width: 120px;
  }