.blogContainer {
  min-height: 600px;
}

.blogSidbarContainer {
  margin: auto;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .blogSidbarContainer {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .blogSidbarContainer {
    width: 50%;
    margin-right: 50%;
  }
}


