.gettingStartedText {
    text-align: center;
    margin: 150px auto 50px auto;
    width: calc(100% - 100px);
    max-width: 600px;
  }
  
  .gettingStartedOne {
    color: var(--ifm-color-primary);
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
  }
  
  .gettingStartedThree {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .button {
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    width: 259px;
    height: 61px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 20px 60px #00000015;
    border: 2px solid #df61ca;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .button:hover {
    cursor: pointer;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--dev-button-hover);
    color: #cc27b0;
    text-decoration: none;
  }
  
  .link {
    color: #df61ca;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .link:hover {
    color: #df61ca;
    text-decoration: none;
  }
  
  .docCardIcon {
    color: var(--ifm-color-primary);
    margin-bottom: 20px;
  }