/* Getting Started Card */
.card {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 1;
  transition: all 0.3s;
  width: 325px;
  height: 360px;
  background: var(--dev-new-car-background);
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card:hover {
  cursor: pointer;
  transform: translate(0px, -5px);
  box-shadow: var(--dev-card-selected);
}

.cardText {
  display: flex;
  flex-direction: column;
}
.cardImage {
  overflow: hidden;
  position: relative;
  height: 144px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.cardTitle {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: left;
  height: 50px;
}

.cardBody {
  height: 80px;
  margin-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: left;
}

/* .cardBadge {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin-left: 5px;
  height: 80px;
  width: 80px;
} */

.cardBadge {
  position: absolute;
  display: flex;
  right: 95px;
  bottom: 0px;
  margin-left: 5px;
  height: 80px;
  width: 80px;
  color: var(--dev-text-color-secondary);
}

.cardBadgeImage {
  margin-right: 10px;
  height: 80px;
  width: 80px;
}

.cardBadgeText {
  margin-left: -19px;
  margin-top: 15px;
}

.cardBadgeCertified {
  position: absolute;
  display: flex;
  right: 85px;
  bottom: 5px;
  margin-left: 5px;
  height: 50px;
  width: 50px;
  color: var(--dev-text-color-secondary);
}

.cardBadgeCertifiedImage {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  filter: var(--dev-icon-color-primary);
}
