/* Getting Started Card */
.card {
  position: relative;
  margin-top: 20px;
  height: 300px;
  /* UI Properties */
  opacity: 1;
  transition: all 0.3s;
  background: var(--dev-new-car-background);
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid #dadce0;
}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: var(--dev-card-selected);
}

.cardText {
  position: absolute;
  margin: 22px;
  font-size: 16px;
  font-weight: 500;
  min-width: 170px;
  top: 35px;
  left: 0;
}

.linkText {
  position: absolute;
  margin: 15px 45px 15px 25px;
  font-size: 18px;
  font-weight: 700;
  bottom: 22px;
  left: -19;
  color: var(--ifm-color-primary);
}

.linkSolvedText {
  position: absolute;
  margin: 15px 45px;
  font-size: 18px;
  font-weight: 700;
  bottom: 22px;
  left: -19px;
  color: var(--ifm-color-primary);
}

.cardIcon {
  position: absolute;
  margin: 20px;
  top: 20px;
  left: 0;
  width: 20px;
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 20px;
  right: 0;
  width: 20px;
}

.cardViews {
  position: absolute;
  margin: 15px;
  right: 0px;
  top: 0;
  width: 30px;
}

.cardLikes {
  position: absolute;
  margin: 15px;
  right: 45px;
  top: 0;
  width: 30px;
}

.cardSolved {
  position: absolute;
  margin: 0px;
  right: 132px;
  top: 18px;
  width: 20px;
}

.cardDiscuss {
  display: none;
  position: absolute;
  margin: 0px;
  left: 12px;
  bottom: 57px;
  width: 28px;
}

.cardEye {
  position: absolute;
  margin: 20px;
  right: 25px;
  top: 0;
  width: 22px;
}

.cardLiked {
  position: absolute;
  margin: 16px;
  right: 75px;
  top: 0;
  width: 22px;
}

.tag {
  font-size: 12px;
  font-weight: 500;
  color: var(--dev-secondary-text);
}

.tags {
  grid-gap: 3px;
  bottom: 50px;
  display: grid;
  position: absolute;
  padding: -4%;
  margin-top: 5%;
  margin-bottom: 6%;
  margin-left: 8%;
}

.idn {
  color: #177dd2;
}

.iiq {
  color: #60b359;
}
