.faq {
  margin: 20px;
}

.gettingStartedText {
  text-align: center;
  margin: 50px auto 50px auto;
  width: calc(100% - 100px);
  max-width: 600px;
}

.gettingStartedCardIcon {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.gettingStartedOne {
  color: var(--ifm-color-primary);
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
}

.gettingStartedThree {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
}

.faqContent {
  height: calc(100vh - 530px);

  overflow-y: auto;
}

.faqQuestion {
  font-weight: bold;
}

.faqAnswer {
  margin-left: 20px;
  margin-bottom: 5px;
}
