
/* Getting Started Card container */
.gridContainer {
  display: grid;
  place-content: center;
  grid-template-columns:  repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.center {
  margin: 20px auto;
  max-width: 1100px;
}