
.tag {
  font-size: 16px;
  font-weight: 500;
  color: var(--dev-secondary-text);
  padding: 8px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dev-text-color-normal);
  transition: background-color 500ms;
}

.tagSelected {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--dev-secondary-text);
  color: var(--dev-card-background);
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--dev-text-color-normal);
  transition: background-color 500ms;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--dev-text-color-normal);
  color: var(--dev-card-background);
}

