/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply my-4;
}

blockquote,
figure {
  @apply my-4 mx-10;
}

hr {
  @apply border;
}

h1 {
  @apply text-4xl font-bold my-2;
}

h2 {
  @apply text-2xl font-bold my-3;
}

h3 {
  @apply text-lg font-bold my-4;
}

h4 {
  @apply text-base font-bold my-5;
}

h5 {
  @apply text-sm font-bold my-6;
}

h6 {
  @apply text-xs font-bold my-10;
}

ul,
menu {
  @apply list-disc my-1 pl-10;
}

ol {
  @apply list-decimal my-4 pl-10;
}

ul,
ol,
menu,
dl {
  margin: 0;
}

a.breadcrumbs__link {
  padding: 0 !important;
  margin: auto;
}

span.breadcrumbs__link {
  padding: 10px !important;
  margin: auto;
}

.ReactModal__Overlay {
  z-index: 9999;
}

.tf-v1-iframe-wrapper {
  @apply !w-[50vw] !h-[50vh];
}

@import url('https://p.typekit.net/p.css?s=1&k=hbq4agn&ht=tk&f=30490.30491.30492.30493.30494.30495.30496.30497.30498.30499.30500.30501.30502.30503&a=87767056&app=typekit&e=css');

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/4fc98e/00000000000000007735b0ff/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/4fc98e/00000000000000007735b0ff/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/4fc98e/00000000000000007735b0ff/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/9ddc39/00000000000000007735b103/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/9ddc39/00000000000000007735b103/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('woff'),
    url('https://use.typekit.net/af/9ddc39/00000000000000007735b103/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/3a1a0d/00000000000000007735b106/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/3a1a0d/00000000000000007735b106/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3')
      format('woff'),
    url('https://use.typekit.net/af/3a1a0d/00000000000000007735b106/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i2&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/403df5/00000000000000007735b10d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/403df5/00000000000000007735b10d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('woff'),
    url('https://use.typekit.net/af/403df5/00000000000000007735b10d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 200;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/6c83a4/00000000000000007735b117/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/6c83a4/00000000000000007735b117/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/6c83a4/00000000000000007735b117/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/25ef29/00000000000000007735b110/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/25ef29/00000000000000007735b110/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/25ef29/00000000000000007735b110/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/c3093e/00000000000000007735b116/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c3093e/00000000000000007735b116/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c3093e/00000000000000007735b116/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f1b774/00000000000000007735b11b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/9d2d8f/00000000000000007735b11f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/9d2d8f/00000000000000007735b11f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/9d2d8f/00000000000000007735b11f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/82c6c3/00000000000000007735b123/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/82c6c3/00000000000000007735b123/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/82c6c3/00000000000000007735b123/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/038dc3/00000000000000007735b127/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/038dc3/00000000000000007735b127/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/038dc3/00000000000000007735b127/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/62782e/00000000000000007735b12a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/62782e/00000000000000007735b12a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/62782e/00000000000000007735b12a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/e16354/00000000000000007735b12f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e16354/00000000000000007735b12f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e16354/00000000000000007735b12f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'input-mono';
  src: url('https://use.typekit.net/af/e049ab/00000000000000007735b134/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e049ab/00000000000000007735b134/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e049ab/00000000000000007735b134/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i8&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../static/fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  color: #415364;
  --ifm-color-primary: #0033a1;
  --ifm-color-primary-dark: #002e91;
  --ifm-color-primary-darker: #002b89;
  --ifm-color-primary-darkest: #002471;
  --ifm-color-primary-light: #0038b1;
  --ifm-color-primary-lighter: #003bb9;
  --ifm-color-primary-lightest: #0042d1;

  --ifm-color-secondary: #cc27b0;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --dev-text-color-cobalt: #0033a1;
  --dev-boarder-color-theme: black;
  --dev-text-color-normal: #415364;
  --dev-text-color-secondary: #0033a1;

  --dev-secondary-text: #415364;

  --text-on-primary: #ffffff;

  /*card css*/
  --dev-card-background: #ffffff;
  --dev-card-shadow: 0px 20px 60px #00000015;
  --dev-card-selected: 0 4px 5px rgba(0, 0, 0, 0.2);

  --ifm-github-logo: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  --ifm-medium-logo: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 1770 1000"><circle cx="500" cy="500" r="500"/><ellipse ry="475" rx="250" cy="501" cx="1296"/><ellipse cx="1682" cy="502" rx="88" ry="424"/></svg>');
  --dev-sailpoint-small-logo: url('../../static/img/SailPoint-Logo-RGB-Color.png');

  --ifm-font-family-base: 'Poppins';
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  color: #ffffff;
  --ifm-color-primary: #7ecfee;
  --ifm-color-primary-dark: #5ec3ea;
  --ifm-color-primary-darker: #4ebde8;
  --ifm-color-primary-darkest: #1eabe1;
  --ifm-color-primary-light: #8ed5f0;
  --ifm-color-primary-lighter: #aee1f4;
  --ifm-color-primary-lightest: #bee7f6;

  --ifm-color-secondary: #cc27b0;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --dev-text-color-cobalt: #dae1e9;
  --dev-boarder-color-theme: white;
  --dev-sailpoint-small-logo: url('../../static/img/SailPoint-Logo-RGB-Inverse.png');
  --dev-text-color-normal: #dae1e9;
  --dev-text-color-secondary: #54c0e8;

  --text-on-primary: #ffffff;

  /*card css*/
  --dev-card-background: #2a2b2d;
  --dev-card-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  --dev-card-selected: 0 5px 5px rgba(107, 107, 107, 0.2);
  --dev-secondary-text: #dae1e9;

  /*main hero card*/
  --main-hero-card-background: #202122;
}

.navbar__logo {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1291px) {
  .navbar__logo {
    content: var(--dev-sailpoint-small-logo);
  }
}
@media only screen and (max-width: 1043px) {
  .navbar__item {
    padding: 4px 8px;
  }
}

.navbar__title {
  color: var(--dev-text-color-cobalt);
  margin-top: 9px;
  font-size: 22px;
  font-weight: 400;
}

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: 'get';
  background-color: var(--ifm-color-primary);
}

.put > .menu__link::before {
  content: 'put';
  background-color: var(--openapi-code-blue);
}

.post > .menu__link::before {
  content: 'post';
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: 'del';
  background-color: var(--openapi-code-red);
}

.patch > .menu__link::before {
  content: 'patch';
  background-color: var(--openapi-code-orange);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-blog-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: var(--ifm-github-logo) no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

.header-blog-link:before {
  background: var(--ifm-medium-logo) no-repeat;
  content: '';
  display: flex;
  height: 24px;
  width: 24px;
}

html[data-theme='dark'] .header-blog-link:before {
  filter: invert();
}

html[data-theme='dark'] .header-github-link:before {
  filter: invert();
}

.navbar__section {
  font-weight: bolder;
  cursor: inherit;
  background-color: transparent !important;
  border-radius: 0;
  border-bottom: 1px solid var(--ifm-color-emphasis-400);
}

.indent {
  padding-left: 1rem;
}

.footer__link-item {
  line-height: 2.5;
  font-size: 15px;
  font-weight: 300;
}

.footer__copyright {
  font-size: 10px;
  font-weight: 300;
}

html[data-theme='dark'] .footer {
  border-top: 1px solid;
  border-color: #7f7f7f;
}

.theme-admonition-note {
  background-color: #eeeeee;
}

html[data-theme='dark'] .theme-admonition-note {
  background-color: #474748;
}

ul {
}

@layer utilities {
  .sp-text-h1 {
    @apply sp-text-[48px] sm:sp-text-[66px] sp-font-semibold sp-font-sans sp-m-0 sp-mb-4 sp-leading-[1.1] sm:sp-leading-[1.1];
  }
  .sp-text-h2 {
    @apply sp-text-[35px] sm:sp-text-[50px] sp-font-semibold sp-font-sans sp-m-0 sm:sp-mb-6 sp-mb-4 sp-leading-[1.2];
  }
  .sp-text-h3 {
    @apply sp-text-[28px] sm:sp-text-[40px] sp-font-semibold sp-font-sans sp-mb-6 sp-leading-[1.2];
  }
  .sp-text-h4 {
    @apply sp-text-[21px] sm:sp-text-[28px] sp-font-semibold sp-font-sans sp-m-0 sp-mb-2 sm:sp-mb-4 sp-leading-[1.4] md:sp-leading-[1.2];
  }
  .sp-text-h5 {
    @apply sp-text-lg sm:sp-text-[21px] sp-font-semibold sp-font-sans sp-m-0 sp-mb-4 sp-leading-[1.6] sm:sp-leading-[1.2];
  }
  .sp-text-h6 {
    @apply sp-text-base sm:sp-text-lg sp-font-medium sp-font-sans sp-m-0 sp-mb-2 sp-leading-[1.6];
  }
  .sp-text-longform {
    @apply sp-text-base sp-text-[18px] md:sp-text-[20px] sp-font-normal sp-font-sans sp-m-0 sp-mb-2 sp-leading-[1.75];
  }
  .sp-subhead-lg {
    @apply sp-text-lg sm:sp-text-[21px] sp-font-normal sp-font-sans sp-m-0 sp-mb-4;
  }
  .sp-subhead {
    @apply sp-text-base sm:sp-text-lg sp-font-normal sp-font-sans sp-m-0 sp-mb-4;
  }
  .sp-eyebrow {
    @apply sp-text-xs sm:sp-text-sm sp-font-semibold sp-font-sans sp-uppercase sp-m-0 sp-mb-4;
    line-height: 0.875rem;
    letter-spacing: 2px;
  }
  .sp-stats-lg {
    @apply sp-font-bold sp-font-sans sp-pb-4 sp-my-0 sp-font-semibold;
    @apply sp-text-5xl #{!important};
    @apply lg:sp-text-[120px] #{!important};
  }
  p {
    @apply sp-text-base sm:sp-text-lg sp-font-normal sp-font-sans sp-m-0 sp-mb-4;
  }
  .sp-body-med {
    @apply sp-text-base sp-font-normal sp-font-sans sp-pb-4 sp-my-0;
  }
  .sp-body-sm {
    @apply sp-text-sm sp-font-normal sp-font-sans sp-pb-4 sp-my-0;
  }
}

@layer components {
  .sp-btn {
    @apply sp-text-base sp-cursor-pointer sp-leading-6 sp-font-semibold sp-outline-offset-0 sp-normal-case sp-no-underline sp-rounded sp-border sp-border-transparent sp-px-4 sp-py-[11px]
    focus-visible:sp-outline focus-visible:sp-outline-[1.5px] focus-visible:sp-outline-offset-2;
    transition: none; // TODO:
    display: inline-block; // TODO:

    &-default {
      @apply sp-bg-blue sp-text-white
      hover:sp-bg-blue-dark hover:sp-text-white
      focus-visible:sp-text-white focus:sp-text-white visited:sp-text-white focus-visible:sp-outline-blue
      active:sp-elevate active:sp-text-white;
    }
    &--blue {
      @extend .sp-btn-default;

      &-alt {
        @apply sp-bg-white sp-text-blue sp-border sp-border-transparent hover:sp-text-blue hover:sp-border-blue focus-visible:sp-text-blue focus:sp-text-blue visited:sp-text-blue focus-visible:sp-outline-blue active:sp-outline active:sp-outline-1 active:sp-outline-blue active:sp-elevate active:sp-text-blue;
      }
    }
    &--hotpink {
      @apply sp-bg-hotpink sp-text-white sp-border sp-border-transparent hover:sp-bg-hotpink-dark hover:sp-text-white focus-visible:sp-text-white focus:sp-text-white visited:sp-text-white focus-visible:sp-outline-hotpink active:sp-elevate active:sp-text-white;

      &-alt {
        @apply sp-bg-white sp-text-hotpink sp-border sp-border-transparent hover:sp-border-hotpink hover:sp-text-hotpink focus-visible:sp-text-hotpink focus:sp-text-hotpink visited:sp-text-hotpink focus-visible:sp-outline-hotpink active:sp-elevate active:sp-text-hotpink;
      }
    }
    &--outline {
      @apply sp-border sp-text-blue sp-border-blue focus-visible:sp-outline-blue active:sp-elevate  hover:sp-text-white hover:sp-bg-blue focus-visible:sp-text-white active:sp-text-white focus-visible:sp-bg-blue visited:sp-text-blue;

      &-alt {
        @apply sp-text-white sp-border-white hover:sp-text-blue hover:sp-bg-white hover:sp-border-blue visited:sp-text-white focus:sp-text-blue focus:sp-outline-blue focus:sp-bg-white focus-visible:sp-text-blue focus-visible:sp-bg-white active:sp-border-blue active:sp-elevate;
      }
    }
    &--arrow {
      padding: 14px 8px 16px 8px;
      @apply sp-text-blue sp-leading-4 hover:sp-underline hover:sp-text-blue focus-visible:sp-underline focus-visible:sp-text-blue focus:sp-text-blue focus-visible:sp-outline-blue focus-visible:sp-bg-blue focus-visible:sp-bg-opacity-5;

      i.fas {
        margin-left: 0.5rem;
      }

      &-alt {
        padding: 14px 8px 16px 8px;
        @apply sp-text-white sp-leading-4 hover:sp-underline hover:sp-text-white  focus-visible:sp-text-white focus:sp-text-white visited:sp-text-white focus-visible:sp-outline-white focus-visible:sp-bg-transparent focus-visible:sp-underline;

        i.fas {
          margin-left: 0.5rem;
        }
      }
    }

    &--icon {
      // modifies above/existing to allow flexibility between colors
    }
  }
}

@layer utilities {
  .sp-elevate {
    /* elevate */
    box-shadow: 0px 4px 16px 0px rgba(65, 83, 100, 0.08);
  }

  .sp-disabled {
    &.sp-btn {
      @apply sp-outline-none sp-text-darkgray sp-bg-lightgray sp-opacity-60 sp-pointer-events-none;
      &--outline,
      &--outline-alt {
        @apply sp-border sp-border-lightgray sp-bg-transparent;
      }
      &--arrow,
      &--arrow-alt {
        @apply sp-bg-transparent sp-no-underline;
      }
    }
  }
}
