build
.idea
*.iml
.gradle
.DS_Store
/debug.log
velocity.log*
sptcbu-org-data
*~
#*#
.#*
api-client-common/out

node_modules
*.d.ts

/bin
.classpath
.project 
.vscode/
.settings/
/.settings
api-client-common/bin/
design-docs/api-publisher