.gettingStartedText {
  text-align: center;
  color: var(--dev-text-color-cobalt);
  margin: 160px auto 20px auto;
  width: calc(100% - 100px);
  max-width: 600px;
  font-family: input-mono;
}

.gettingStartedOne {
  color: var(--dev-text-color-cobalt);
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
  font-family: input-mono;
}

.gettingStartedThree {
  margin-top: 20px;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.gettingStartedCardIcon {
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  filter: invert(62%) sepia(93%) saturate(289%) hue-rotate(156deg)
    brightness(93%) contrast(96%);
}
