.mainCard {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 760px auto;
    align-content: center;
    margin-bottom: 80px;
    font-family: input-mono;
}

.background {
    width: 760px;
    height: 600px;
}


.comingSoon {
    padding-left: 20px;
    color: var(--ifm-color-primary);
}

.learnDeployText {
    position: absolute;
    left: 467px;
    height: 196px;
    top: 425px;
}

@media only screen and (max-width: 1324px) {
    .mainCard {
        grid-template-columns: auto;
    }
    .background {
        width: 100%;
        height: 265px;
    }
    .learnDeployText {
        height: 187px;
        right: 50px;
        left: auto;
        top: 99px;
    }
}

@media only screen and (min-width: 980px) {
    .mainCard {
        display: none;
    }
}

.signUpSection {
    min-width: 368px;
    width: 368px;
    margin: 30px auto;
}
.imageContainer {
    text-align: center;
}
.sailpointImageContainer {
    padding-left: 32px;
}
.shipyardLogo {
    margin-top: 10px;
    width: 368px;
    height: 75px;
    top: 50%;
    left: 50%;
}

.sailpointImage {
    margin-top: 70px;
    width: 177px;
    height: 38px;
    text-align: center;
}

.welcomeContainer {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    color: var(--ifm-color-primary);
    font-weight: bold;
    font-family: input-mono;
}

.welcomeText {
    width: 368px;
    margin-top: 60px;
    font-size: 16px;
    font-weight: 600;
    color: var(--ifm-color-primary);
}

.emailText {
    letter-spacing: 3.2px;
    margin-top: 10px;
    color: var(--ifm-color-primary);
    font-family: input-mono;;
    font-weight: bold;
    font-size: 18px;
}

.emailInput {
    margin-top: 8px;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #DFE3E7;
    border-radius: 4px;
    height: 52px;
    width: 360px;
    font-size: 20px;
    padding-left: 15px;
}

.button {

    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    color: #df61ca;
    font-family: input-mono;
    /* Layout Properties */
    margin-top: 20px;
    width: 360px;
    height: 52px;
    line-height: 52px;
    /* UI Properties */
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  
    box-shadow: 0px 20px 60px #00000015;
    border: 2px solid #df61ca;
    border-radius: 5px;
  }
  
  .button:hover {
    cursor: pointer;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: #c552ae10;
    color: #cc27b0;
  }

  .link {
    color: #df61ca;
  }
  .button:hover {
    color: #df61ca;
    cursor: pointer;
  }