/* Getting Started Card */
.card {
  position:relative;
  margin-top: 20px;
  height: 200px;
  /* UI Properties */
  background: var(--dev-card-background);
  box-shadow: var(--dev-card-shadow);
  border: 1px solid var(--dev-card-background);
  border-radius: 40px;
  opacity: 1;

}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: var(--dev-card-selected)
}

.cardText {
  position:absolute;
  margin: 20px;
  font-size: 16px;
  font-weight: 500;
  width: 135px;
  bottom: 0;
  left: 0;
}

.cardIcon {
  position:absolute;
  margin: 20px;
  top: 0;
  left: 0;
  width: 38px;
}

.cardArrow {
  position:absolute;
  margin: 20px;
  bottom: 25px;
  right: 0;
  width: 20px;
}

.product {
  position:absolute;
  margin: 20px;
  font-size: 12px;
  font-weight: 500;
  width: 120px;
  bottom: 50px;
  left: 0;
  
}

.idn {
  color: #177dd2;
}

.iiq {
  color: #60b359
}
