/* Getting Started Card */
.card {
  height: 200px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 1;
  transition: all 0.3s;
  background: var(--dev-new-car-background);
  border-radius: 0.5rem;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  border-radius: 0.5rem;
  box-shadow:
    0 0 transparent,
    0 0 transparent,
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid var(--dev-card-border);
}

.card:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: var(--dev-card-selected);
}

.cardText {
  position: absolute;
  margin: 20px;
  font-size: 16px;
  font-weight: 600;
  width: 135px;
  bottom: 0;
  left: 0;
  color: var(--ifm-primary-text-color);
}

.cardIcon {
  position: absolute;
  margin: 20px;
  top: 0;
  left: 0;
  width: 30%;
}

.cardArrow {
  position: absolute;
  margin: 20px;
  bottom: 25px;
  right: 0;
  width: 20px;
}

.product {
  position: absolute;
  margin: 20px;
  font-size: 12px;
  font-weight: 500;
  width: 120px;
  bottom: 50px;
  left: 0;
}

.idn, .iiq {
  color: var(--ifm-primary-text-color);
  font-weight: 400;
}

@media only screen and (max-width: 570px) {
  .cardIcon {
    width: 15%;
  }
}
