.mainCard {
    margin: 10px 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 900px auto;
    align-content: center;
}

.background {
    width: 760px;
    height: 600px;
}

.signUpSection {
    min-width: 368px;
    width: 368px;
    margin: 30px auto;
}

@media only screen and (max-width: 1324px) {
    .signUpSection {
        display: none;
    }
  }



.headerSection {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 517px 330px;
}

.shipyardText {
    margin-top: 70px;
    font-size: 100px;
    color: var(--dev-text-color-cobalt);
    font-family: input-mono;
}

.yearText {
    color: var(--dev-text-color-cobalt);
    font-size: 100px;
    font-family: input-mono;
    font-weight: bold;
}

.yearTextBorder {
    margin-top: 70px;
    width: 330px;
    height: 149px;
    /* UI Properties */
    border: 4px solid var(--dev-text-color-cobalt);
    border-radius: 45px;
    opacity: 1;
    line-height: 149px;
    text-align: center;
}

.comingSoonText {
    color: var(--dev-text-color-cobalt);
    font-size: 22px;
    font-family: input-mono;;
    letter-spacing: 5.5px;
    margin-top: -17px;
}

.descriptionText {
    margin-top: 20px;
    color: var(--ifm-color-primary);
    font-size: 36px;
}

.extensible {
    font-size: 48px;
    font-weight: bold;
}

.sailpoint {
    font-weight: 600;
}

@media only screen and (max-width: 980px) {
    .mainCard {
        display: none;
    }
  }

.button {

    text-decoration: none;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 100%;
    color: #df61ca;
  
    /* Layout Properties */
    margin-top: 20px;
    width: 360px;
    height: 52px;
    line-height: 52px;
    /* UI Properties */
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
  
    box-shadow: 0px 20px 60px #00000015;
    border: 2px solid #df61ca;
    border-radius: 5px;
  }
  
  .button:hover {
    cursor: pointer;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: #c552ae10;
    color: #cc27b0;
  }
