.mainCard {
  margin: 10px 100px;
  grid-gap: 20px;
  grid-template-columns: 900px auto;
  align-content: center;
}

.center {
  margin: 50px auto;
  max-width: 1000px;
}

.signUpSection {
  margin: 30px auto;
}

.conferenceText {
    margin-top: 70px;
    font-size: 55px;
    color: var(--dev-text-color-cobalt);
    font-family: input-mono;
}

.comingSoonText {
    color: var(--dev-text-color-cobalt);
    font-size: 20px;
    font-family: input-mono;
    letter-spacing: 5.5px;
    margin-top: -17px;
}

.descriptionText {
    margin-top: 27px;
    color: var(--ifm-color-primary);
    font-size: 36px;
    font-family: input-mono;
}

.extensible {
  font-size: 48px;
  font-weight: bold;
}

.sailpoint {
  font-weight: 600;
}

.button {
  text-decoration: none;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
  line-height: 100%;
  color: #df61ca;
  font-family: input-mono;
  /* Layout Properties */
  margin-top: 20px;
  width: 360px;
  height: 52px;
  line-height: 42px;
  /* UI Properties */
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;

  box-shadow: 0px 20px 60px #00000015;
  border: 2px solid #df61ca;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: #c552ae10;
  color: #cc27b0;
}

@media screen and (max-width: 550px) {
  .mainCard {
    margin: 10px 20px;
    grid-gap: 20px;
    grid-template-columns: 900px auto;
    align-content: center;
  }

  .conferenceText {
    margin-top: 70px;
    margin-bottom: 30px;
    line-height: 60px;
    font-size: 45px;
    color: var(--dev-text-color-cobalt);
    font-family: input-mono;
  }

  .descriptionText {
    margin-top: 27px;
    color: var(--ifm-color-primary);
    font-size: 25px;
    font-family: input-mono;
  }
}